# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pytest_cache/

# Virtual environments
venv/
.env

# Django
*.sqlite3
/media/

# Environment
.env*

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Migrations
**/migrations/*
!**/migrations/__init__.py

